/* src/styles/base.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  /* overflow: hidden; /* lock global scroll */
}

body.theme-dark {
  background-color: #000;
  color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", system-ui,
    sans-serif;
}

.app-header {
  padding: 8px 12px;
  border-bottom: 1px solid #222;
}

.app-header h1 {
  font-size: 16px;
}
