.tab-bar {
  display: flex;
  justify-content: space-around;
  padding: 6px 0;
  border-top: 1px solid #222;
  background: #000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.tab {
  flex: 1;
  text-align: center;
  font-size: 11px;
  padding: 4px 0;
  color: #aaa;
  background: none;
  border: none;
}

.tab.active {
  color: #fff;
  font-weight: 600;
}
